OMS_NEW/Web References/consumerdetails/isuservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Z_BAPI_CMS_ISU_CA_DISPLAY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strConsumerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTelephoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContractNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_CMS_ISU_CA_DISPLAYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z_BAPI_CMS_ISU_CA_DISPLAYResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_IVR_CREATESO_ISU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCACrn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCAKNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMeterNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strISUOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strComplaintType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContractNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTelephoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_IVR_CREATESO_ISUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_IVR_CREATESO_ISUResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_CREATESO_POST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPMAufart" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPlanPlant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRegioGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strShortText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strILA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMFText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserFieldCH20" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrControkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strComplaintGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContract" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMFText1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_CREATESO_POSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_CREATESO_POSTResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_CALERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDivision" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_CALERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_CALERTResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_ONLINE_BILL_PDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strEBSKNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_ONLINE_BILL_PDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_ONLINE_BILL_PDFResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DISPLAY_BILL_WEB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillMonth" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DISPLAY_BILL_WEBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_DISPLAY_BILL_WEBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DSS_SO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PARTNERCATEGORY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PARTNERTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TITLE_KEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FIRSTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LASTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MIDDLENAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FATHERSNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HOUSE_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUILDING" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POSTL_COD1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="E_MAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LANDLINE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MOBILE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FEMALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JOBGR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LEGITTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDNUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ORDER_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SHORTTEXT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PLANNINGPLANT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WORKCENTRE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SYSTEMCOND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PMACTIVITYTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REQUESTNUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NNUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLIEDCAT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLIEDLOAD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CONNECTIONTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ORDERID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FLAG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DSS_SOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_DSS_SOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DSS_SO_ECC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PARTNERCATEGORY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PARTNERTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TITLE_KEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FIRSTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LASTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MIDDLENAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FATHERSNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HOUSE_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUILDING" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POSTL_COD1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="E_MAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LANDLINE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MOBILE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FEMALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JOBGR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDNUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ORDER_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SHORTTEXT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PLANNINGPLANT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WORKCENTRE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SYSTEMCOND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PMACTIVITYTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REQUESTNUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NNUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLIEDCAT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLIEDLOAD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CONNECTIONTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ORDERID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FLAG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DSS_SO_ECCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_DSS_SO_ECCResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_ZDSS_WEB_LINK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="I_ILART" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_VKONT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_VKONA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PARTNERCATEGORY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PARTNERTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TITLE_KEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FIRSTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LASTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MIDDLENAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FATHERSNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HOUSE_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUILDING" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POSTL_COD1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="E_MAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LANDLINE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MOBILE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FEMALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MALE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JOBGR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDNUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PLANNINGPLANT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WORKCENTRE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SYSTEMCOND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLIEDCAT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLIEDLOAD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLIEDLOADKVA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CONNECTIONTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STATEMENT_CA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="START_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="START_TIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FINISH_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FINISH_TIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SORTFIELD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ABKRS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_ZDSS_WEB_LINKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z_BAPI_ZDSS_WEB_LINKResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_ENFORCEMENT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContract" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_ENFORCEMENTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_ENFORCEMENTResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBI_WEBBILL_HIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillMonth" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBI_WEBBILL_HISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBI_WEBBILL_HISTResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_BI_BAM09">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DsInputTable">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_BI_BAM09Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_BI_BAM09Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_INPUT_ENF_BILL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="New_Ca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Old_Ca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Theft_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zbill_Days" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zbill_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zbilled_Ratcat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zcaseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zcomp_Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zconn_Load" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zinsp_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zinsp_Mtrread" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Znew_Meterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zold_Meterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zphase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DsInputTable">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_INPUT_ENF_BILLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z_BAPI_INPUT_ENF_BILLResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_INPUT_CP_DETAILS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="New_Ca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Old_Ca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Theft_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zbilled_Ratcat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zbill_Days" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zbill_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zcaseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zcomp_Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zconn_Load" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zinsp_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zinsp_Mtrread" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Znew_Meterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zold_Meterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zphase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DsInputTable">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_INPUT_CP_DETAILSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z_BAPI_INPUT_CP_DETAILSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_DSS_ISU_CA_DISPLAY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCRNNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_DSS_ISU_CA_DISPLAYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z_BAPI_DSS_ISU_CA_DISPLAYResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_ZCS_CLI_WEB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTelephoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_ZCS_CLI_WEBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_ZCS_CLI_WEBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_CSINT15">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="I_ARBPL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_AUFNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_CASEID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_CDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_CRN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_FLAG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_ILART" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_IWERK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_POLENO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_RESP_COMP_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_RUNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_STANDARD_COMP_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_USERID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_VKONT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPCATEG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BPKIND" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TITLE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAME_FIRST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAME_LAST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAMEMIDDLE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAME_LST2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HOUSE_NUM1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUILDNGNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STR_SUPPL3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POST_CODE1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITY1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMAILADR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MOBILENO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LANDLINENO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XSEXF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XSEXM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JOBGR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LGTYP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LGNUM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_CSINT15Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z_CSINT15Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_IVRS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strContractAccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Z_BAPI_IVRSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Z_BAPI_IVRSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DUNNING_LOCK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FLAG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LOCKR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LOTYP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PROID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VKONT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZBAPI_DUNNING_LOCKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZBAPI_DUNNING_LOCKResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Z_BAPI_CMS_ISU_CA_DISPLAYSoapIn">
    <wsdl:part name="parameters" element="tns:Z_BAPI_CMS_ISU_CA_DISPLAY" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_CMS_ISU_CA_DISPLAYSoapOut">
    <wsdl:part name="parameters" element="tns:Z_BAPI_CMS_ISU_CA_DISPLAYResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_IVR_CREATESO_ISUSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_IVR_CREATESO_ISU" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_IVR_CREATESO_ISUSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_IVR_CREATESO_ISUResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CREATESO_POSTSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_CREATESO_POST" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CREATESO_POSTSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_CREATESO_POSTResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CALERTSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_CALERT" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CALERTSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_CALERTResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ONLINE_BILL_PDFSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_ONLINE_BILL_PDF" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ONLINE_BILL_PDFSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_ONLINE_BILL_PDFResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DISPLAY_BILL_WEBSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_DISPLAY_BILL_WEB" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DISPLAY_BILL_WEBSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_DISPLAY_BILL_WEBResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SOSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_DSS_SO" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SOSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_DSS_SOResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SO_ECCSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_DSS_SO_ECC" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SO_ECCSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_DSS_SO_ECCResponse" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_ZDSS_WEB_LINKSoapIn">
    <wsdl:part name="parameters" element="tns:Z_BAPI_ZDSS_WEB_LINK" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_ZDSS_WEB_LINKSoapOut">
    <wsdl:part name="parameters" element="tns:Z_BAPI_ZDSS_WEB_LINKResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ENFORCEMENTSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_ENFORCEMENT" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ENFORCEMENTSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_ENFORCEMENTResponse" />
  </wsdl:message>
  <wsdl:message name="ZBI_WEBBILL_HISTSoapIn">
    <wsdl:part name="parameters" element="tns:ZBI_WEBBILL_HIST" />
  </wsdl:message>
  <wsdl:message name="ZBI_WEBBILL_HISTSoapOut">
    <wsdl:part name="parameters" element="tns:ZBI_WEBBILL_HISTResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_BI_BAM09SoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_BI_BAM09" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_BI_BAM09SoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_BI_BAM09Response" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_INPUT_ENF_BILLSoapIn">
    <wsdl:part name="parameters" element="tns:Z_BAPI_INPUT_ENF_BILL" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_INPUT_ENF_BILLSoapOut">
    <wsdl:part name="parameters" element="tns:Z_BAPI_INPUT_ENF_BILLResponse" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_INPUT_CP_DETAILSSoapIn">
    <wsdl:part name="parameters" element="tns:Z_BAPI_INPUT_CP_DETAILS" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_INPUT_CP_DETAILSSoapOut">
    <wsdl:part name="parameters" element="tns:Z_BAPI_INPUT_CP_DETAILSResponse" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_DSS_ISU_CA_DISPLAYSoapIn">
    <wsdl:part name="parameters" element="tns:Z_BAPI_DSS_ISU_CA_DISPLAY" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_DSS_ISU_CA_DISPLAYSoapOut">
    <wsdl:part name="parameters" element="tns:Z_BAPI_DSS_ISU_CA_DISPLAYResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ZCS_CLI_WEBSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_ZCS_CLI_WEB" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ZCS_CLI_WEBSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_ZCS_CLI_WEBResponse" />
  </wsdl:message>
  <wsdl:message name="Z_CSINT15SoapIn">
    <wsdl:part name="parameters" element="tns:Z_CSINT15" />
  </wsdl:message>
  <wsdl:message name="Z_CSINT15SoapOut">
    <wsdl:part name="parameters" element="tns:Z_CSINT15Response" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_IVRSSoapIn">
    <wsdl:part name="parameters" element="tns:Z_BAPI_IVRS" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_IVRSSoapOut">
    <wsdl:part name="parameters" element="tns:Z_BAPI_IVRSResponse" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DUNNING_LOCKSoapIn">
    <wsdl:part name="parameters" element="tns:ZBAPI_DUNNING_LOCK" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DUNNING_LOCKSoapOut">
    <wsdl:part name="parameters" element="tns:ZBAPI_DUNNING_LOCKResponse" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_CMS_ISU_CA_DISPLAYHttpGetIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strSerialNumber" type="s:string" />
    <wsdl:part name="strConsumerNumber" type="s:string" />
    <wsdl:part name="strTelephoneNumber" type="s:string" />
    <wsdl:part name="strKNumber" type="s:string" />
    <wsdl:part name="strContractNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_CMS_ISU_CA_DISPLAYHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_IVR_CREATESO_ISUHttpGetIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strCACrn" type="s:string" />
    <wsdl:part name="strCAKNumber" type="s:string" />
    <wsdl:part name="strMeterNumber" type="s:string" />
    <wsdl:part name="strISUOrder" type="s:string" />
    <wsdl:part name="strComplaintType" type="s:string" />
    <wsdl:part name="strContractNumber" type="s:string" />
    <wsdl:part name="strTelephoneNo" type="s:string" />
    <wsdl:part name="strDescription" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_IVR_CREATESO_ISUHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CREATESO_POSTHttpGetIn">
    <wsdl:part name="strPMAufart" type="s:string" />
    <wsdl:part name="strPlanPlant" type="s:string" />
    <wsdl:part name="strRegioGroup" type="s:string" />
    <wsdl:part name="strShortText" type="s:string" />
    <wsdl:part name="strILA" type="s:string" />
    <wsdl:part name="strMFText" type="s:string" />
    <wsdl:part name="strUserFieldCH20" type="s:string" />
    <wsdl:part name="StrControkey" type="s:string" />
    <wsdl:part name="strSerialNumber" type="s:string" />
    <wsdl:part name="strComplaintGroup" type="s:string" />
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strContract" type="s:string" />
    <wsdl:part name="strMFText1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CREATESO_POSTHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CALERTHttpGetIn">
    <wsdl:part name="strCompanyCode" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="strDivision" type="s:string" />
    <wsdl:part name="strUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CALERTHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ONLINE_BILL_PDFHttpGetIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strEBSKNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ONLINE_BILL_PDFHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DISPLAY_BILL_WEBHttpGetIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strBillMonth" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DISPLAY_BILL_WEBHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SOHttpGetIn">
    <wsdl:part name="PARTNERCATEGORY" type="s:string" />
    <wsdl:part name="PARTNERTYPE" type="s:string" />
    <wsdl:part name="TITLE_KEY" type="s:string" />
    <wsdl:part name="FIRSTNAME" type="s:string" />
    <wsdl:part name="LASTNAME" type="s:string" />
    <wsdl:part name="MIDDLENAME" type="s:string" />
    <wsdl:part name="FATHERSNAME" type="s:string" />
    <wsdl:part name="HOUSE_NO" type="s:string" />
    <wsdl:part name="BUILDING" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POSTL_COD1" type="s:string" />
    <wsdl:part name="CITY" type="s:string" />
    <wsdl:part name="E_MAIL" type="s:string" />
    <wsdl:part name="LANDLINE" type="s:string" />
    <wsdl:part name="MOBILE" type="s:string" />
    <wsdl:part name="FEMALE" type="s:string" />
    <wsdl:part name="MALE" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="LEGITTYPE" type="s:string" />
    <wsdl:part name="IDNUMBER" type="s:string" />
    <wsdl:part name="ORDER_TYPE" type="s:string" />
    <wsdl:part name="SHORTTEXT" type="s:string" />
    <wsdl:part name="PLANNINGPLANT" type="s:string" />
    <wsdl:part name="WORKCENTRE" type="s:string" />
    <wsdl:part name="SYSTEMCOND" type="s:string" />
    <wsdl:part name="PMACTIVITYTYPE" type="s:string" />
    <wsdl:part name="REQUESTNUM" type="s:string" />
    <wsdl:part name="NNUMBER" type="s:string" />
    <wsdl:part name="APPLIEDCAT" type="s:string" />
    <wsdl:part name="APPLIEDLOAD" type="s:string" />
    <wsdl:part name="CONNECTIONTYPE" type="s:string" />
    <wsdl:part name="ORDERID" type="s:string" />
    <wsdl:part name="FLAG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SOHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SO_ECCHttpGetIn">
    <wsdl:part name="PARTNERCATEGORY" type="s:string" />
    <wsdl:part name="PARTNERTYPE" type="s:string" />
    <wsdl:part name="TITLE_KEY" type="s:string" />
    <wsdl:part name="FIRSTNAME" type="s:string" />
    <wsdl:part name="LASTNAME" type="s:string" />
    <wsdl:part name="MIDDLENAME" type="s:string" />
    <wsdl:part name="FATHERSNAME" type="s:string" />
    <wsdl:part name="HOUSE_NO" type="s:string" />
    <wsdl:part name="BUILDING" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POSTL_COD1" type="s:string" />
    <wsdl:part name="CITY" type="s:string" />
    <wsdl:part name="E_MAIL" type="s:string" />
    <wsdl:part name="LANDLINE" type="s:string" />
    <wsdl:part name="MOBILE" type="s:string" />
    <wsdl:part name="FEMALE" type="s:string" />
    <wsdl:part name="MALE" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="IDTYPE" type="s:string" />
    <wsdl:part name="IDNUMBER" type="s:string" />
    <wsdl:part name="ORDER_TYPE" type="s:string" />
    <wsdl:part name="SHORTTEXT" type="s:string" />
    <wsdl:part name="PLANNINGPLANT" type="s:string" />
    <wsdl:part name="WORKCENTRE" type="s:string" />
    <wsdl:part name="SYSTEMCOND" type="s:string" />
    <wsdl:part name="PMACTIVITYTYPE" type="s:string" />
    <wsdl:part name="REQUESTNUM" type="s:string" />
    <wsdl:part name="NNUMBER" type="s:string" />
    <wsdl:part name="APPLIEDCAT" type="s:string" />
    <wsdl:part name="APPLIEDLOAD" type="s:string" />
    <wsdl:part name="CONNECTIONTYPE" type="s:string" />
    <wsdl:part name="ORDERID" type="s:string" />
    <wsdl:part name="FLAG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SO_ECCHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_ZDSS_WEB_LINKHttpGetIn">
    <wsdl:part name="I_ILART" type="s:string" />
    <wsdl:part name="I_VKONT" type="s:string" />
    <wsdl:part name="I_VKONA" type="s:string" />
    <wsdl:part name="PARTNERCATEGORY" type="s:string" />
    <wsdl:part name="PARTNERTYPE" type="s:string" />
    <wsdl:part name="TITLE_KEY" type="s:string" />
    <wsdl:part name="FIRSTNAME" type="s:string" />
    <wsdl:part name="LASTNAME" type="s:string" />
    <wsdl:part name="MIDDLENAME" type="s:string" />
    <wsdl:part name="FATHERSNAME" type="s:string" />
    <wsdl:part name="HOUSE_NO" type="s:string" />
    <wsdl:part name="BUILDING" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POSTL_COD1" type="s:string" />
    <wsdl:part name="CITY" type="s:string" />
    <wsdl:part name="E_MAIL" type="s:string" />
    <wsdl:part name="LANDLINE" type="s:string" />
    <wsdl:part name="MOBILE" type="s:string" />
    <wsdl:part name="FEMALE" type="s:string" />
    <wsdl:part name="MALE" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="IDTYPE" type="s:string" />
    <wsdl:part name="IDNUMBER" type="s:string" />
    <wsdl:part name="PLANNINGPLANT" type="s:string" />
    <wsdl:part name="WORKCENTRE" type="s:string" />
    <wsdl:part name="SYSTEMCOND" type="s:string" />
    <wsdl:part name="APPLIEDCAT" type="s:string" />
    <wsdl:part name="APPLIEDLOAD" type="s:string" />
    <wsdl:part name="APPLIEDLOADKVA" type="s:string" />
    <wsdl:part name="CONNECTIONTYPE" type="s:string" />
    <wsdl:part name="STATEMENT_CA" type="s:string" />
    <wsdl:part name="START_DATE" type="s:string" />
    <wsdl:part name="START_TIME" type="s:string" />
    <wsdl:part name="FINISH_DATE" type="s:string" />
    <wsdl:part name="FINISH_TIME" type="s:string" />
    <wsdl:part name="SORTFIELD" type="s:string" />
    <wsdl:part name="ABKRS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_ZDSS_WEB_LINKHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ENFORCEMENTHttpGetIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strContract" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ENFORCEMENTHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBI_WEBBILL_HISTHttpGetIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strBillMonth" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBI_WEBBILL_HISTHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_DSS_ISU_CA_DISPLAYHttpGetIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strCRNNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_DSS_ISU_CA_DISPLAYHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ZCS_CLI_WEBHttpGetIn">
    <wsdl:part name="strTelephoneNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ZCS_CLI_WEBHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_CSINT15HttpGetIn">
    <wsdl:part name="I_ARBPL" type="s:string" />
    <wsdl:part name="I_AUFNR" type="s:string" />
    <wsdl:part name="I_CASEID" type="s:string" />
    <wsdl:part name="I_CDATE" type="s:string" />
    <wsdl:part name="I_CRN" type="s:string" />
    <wsdl:part name="I_DATE" type="s:string" />
    <wsdl:part name="I_FLAG" type="s:string" />
    <wsdl:part name="I_ILART" type="s:string" />
    <wsdl:part name="I_IWERK" type="s:string" />
    <wsdl:part name="I_POLENO" type="s:string" />
    <wsdl:part name="I_RESP_COMP_CODE" type="s:string" />
    <wsdl:part name="I_RUNAME" type="s:string" />
    <wsdl:part name="I_STANDARD_COMP_CODE" type="s:string" />
    <wsdl:part name="I_USERID" type="s:string" />
    <wsdl:part name="I_VKONT" type="s:string" />
    <wsdl:part name="BPCATEG" type="s:string" />
    <wsdl:part name="BPKIND" type="s:string" />
    <wsdl:part name="TITLE" type="s:string" />
    <wsdl:part name="NAME_FIRST" type="s:string" />
    <wsdl:part name="NAME_LAST" type="s:string" />
    <wsdl:part name="NAMEMIDDLE" type="s:string" />
    <wsdl:part name="NAME_LST2" type="s:string" />
    <wsdl:part name="HOUSE_NUM1" type="s:string" />
    <wsdl:part name="BUILDNGNAME" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POST_CODE1" type="s:string" />
    <wsdl:part name="CITY1" type="s:string" />
    <wsdl:part name="EMAILADR" type="s:string" />
    <wsdl:part name="MOBILENO" type="s:string" />
    <wsdl:part name="LANDLINENO" type="s:string" />
    <wsdl:part name="XSEXF" type="s:string" />
    <wsdl:part name="XSEXM" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="LGTYP" type="s:string" />
    <wsdl:part name="LGNUM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_CSINT15HttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_IVRSHttpGetIn">
    <wsdl:part name="strContractAccountNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_IVRSHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DUNNING_LOCKHttpGetIn">
    <wsdl:part name="FDATE" type="s:string" />
    <wsdl:part name="FLAG" type="s:string" />
    <wsdl:part name="LOCKR" type="s:string" />
    <wsdl:part name="LOTYP" type="s:string" />
    <wsdl:part name="PROID" type="s:string" />
    <wsdl:part name="TDATE" type="s:string" />
    <wsdl:part name="VKONT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DUNNING_LOCKHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_CMS_ISU_CA_DISPLAYHttpPostIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strSerialNumber" type="s:string" />
    <wsdl:part name="strConsumerNumber" type="s:string" />
    <wsdl:part name="strTelephoneNumber" type="s:string" />
    <wsdl:part name="strKNumber" type="s:string" />
    <wsdl:part name="strContractNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_CMS_ISU_CA_DISPLAYHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_IVR_CREATESO_ISUHttpPostIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strCACrn" type="s:string" />
    <wsdl:part name="strCAKNumber" type="s:string" />
    <wsdl:part name="strMeterNumber" type="s:string" />
    <wsdl:part name="strISUOrder" type="s:string" />
    <wsdl:part name="strComplaintType" type="s:string" />
    <wsdl:part name="strContractNumber" type="s:string" />
    <wsdl:part name="strTelephoneNo" type="s:string" />
    <wsdl:part name="strDescription" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_IVR_CREATESO_ISUHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CREATESO_POSTHttpPostIn">
    <wsdl:part name="strPMAufart" type="s:string" />
    <wsdl:part name="strPlanPlant" type="s:string" />
    <wsdl:part name="strRegioGroup" type="s:string" />
    <wsdl:part name="strShortText" type="s:string" />
    <wsdl:part name="strILA" type="s:string" />
    <wsdl:part name="strMFText" type="s:string" />
    <wsdl:part name="strUserFieldCH20" type="s:string" />
    <wsdl:part name="StrControkey" type="s:string" />
    <wsdl:part name="strSerialNumber" type="s:string" />
    <wsdl:part name="strComplaintGroup" type="s:string" />
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strContract" type="s:string" />
    <wsdl:part name="strMFText1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CREATESO_POSTHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CALERTHttpPostIn">
    <wsdl:part name="strCompanyCode" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="strDivision" type="s:string" />
    <wsdl:part name="strUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_CALERTHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ONLINE_BILL_PDFHttpPostIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strEBSKNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ONLINE_BILL_PDFHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DISPLAY_BILL_WEBHttpPostIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strBillMonth" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DISPLAY_BILL_WEBHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SOHttpPostIn">
    <wsdl:part name="PARTNERCATEGORY" type="s:string" />
    <wsdl:part name="PARTNERTYPE" type="s:string" />
    <wsdl:part name="TITLE_KEY" type="s:string" />
    <wsdl:part name="FIRSTNAME" type="s:string" />
    <wsdl:part name="LASTNAME" type="s:string" />
    <wsdl:part name="MIDDLENAME" type="s:string" />
    <wsdl:part name="FATHERSNAME" type="s:string" />
    <wsdl:part name="HOUSE_NO" type="s:string" />
    <wsdl:part name="BUILDING" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POSTL_COD1" type="s:string" />
    <wsdl:part name="CITY" type="s:string" />
    <wsdl:part name="E_MAIL" type="s:string" />
    <wsdl:part name="LANDLINE" type="s:string" />
    <wsdl:part name="MOBILE" type="s:string" />
    <wsdl:part name="FEMALE" type="s:string" />
    <wsdl:part name="MALE" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="LEGITTYPE" type="s:string" />
    <wsdl:part name="IDNUMBER" type="s:string" />
    <wsdl:part name="ORDER_TYPE" type="s:string" />
    <wsdl:part name="SHORTTEXT" type="s:string" />
    <wsdl:part name="PLANNINGPLANT" type="s:string" />
    <wsdl:part name="WORKCENTRE" type="s:string" />
    <wsdl:part name="SYSTEMCOND" type="s:string" />
    <wsdl:part name="PMACTIVITYTYPE" type="s:string" />
    <wsdl:part name="REQUESTNUM" type="s:string" />
    <wsdl:part name="NNUMBER" type="s:string" />
    <wsdl:part name="APPLIEDCAT" type="s:string" />
    <wsdl:part name="APPLIEDLOAD" type="s:string" />
    <wsdl:part name="CONNECTIONTYPE" type="s:string" />
    <wsdl:part name="ORDERID" type="s:string" />
    <wsdl:part name="FLAG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SOHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SO_ECCHttpPostIn">
    <wsdl:part name="PARTNERCATEGORY" type="s:string" />
    <wsdl:part name="PARTNERTYPE" type="s:string" />
    <wsdl:part name="TITLE_KEY" type="s:string" />
    <wsdl:part name="FIRSTNAME" type="s:string" />
    <wsdl:part name="LASTNAME" type="s:string" />
    <wsdl:part name="MIDDLENAME" type="s:string" />
    <wsdl:part name="FATHERSNAME" type="s:string" />
    <wsdl:part name="HOUSE_NO" type="s:string" />
    <wsdl:part name="BUILDING" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POSTL_COD1" type="s:string" />
    <wsdl:part name="CITY" type="s:string" />
    <wsdl:part name="E_MAIL" type="s:string" />
    <wsdl:part name="LANDLINE" type="s:string" />
    <wsdl:part name="MOBILE" type="s:string" />
    <wsdl:part name="FEMALE" type="s:string" />
    <wsdl:part name="MALE" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="IDTYPE" type="s:string" />
    <wsdl:part name="IDNUMBER" type="s:string" />
    <wsdl:part name="ORDER_TYPE" type="s:string" />
    <wsdl:part name="SHORTTEXT" type="s:string" />
    <wsdl:part name="PLANNINGPLANT" type="s:string" />
    <wsdl:part name="WORKCENTRE" type="s:string" />
    <wsdl:part name="SYSTEMCOND" type="s:string" />
    <wsdl:part name="PMACTIVITYTYPE" type="s:string" />
    <wsdl:part name="REQUESTNUM" type="s:string" />
    <wsdl:part name="NNUMBER" type="s:string" />
    <wsdl:part name="APPLIEDCAT" type="s:string" />
    <wsdl:part name="APPLIEDLOAD" type="s:string" />
    <wsdl:part name="CONNECTIONTYPE" type="s:string" />
    <wsdl:part name="ORDERID" type="s:string" />
    <wsdl:part name="FLAG" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DSS_SO_ECCHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_ZDSS_WEB_LINKHttpPostIn">
    <wsdl:part name="I_ILART" type="s:string" />
    <wsdl:part name="I_VKONT" type="s:string" />
    <wsdl:part name="I_VKONA" type="s:string" />
    <wsdl:part name="PARTNERCATEGORY" type="s:string" />
    <wsdl:part name="PARTNERTYPE" type="s:string" />
    <wsdl:part name="TITLE_KEY" type="s:string" />
    <wsdl:part name="FIRSTNAME" type="s:string" />
    <wsdl:part name="LASTNAME" type="s:string" />
    <wsdl:part name="MIDDLENAME" type="s:string" />
    <wsdl:part name="FATHERSNAME" type="s:string" />
    <wsdl:part name="HOUSE_NO" type="s:string" />
    <wsdl:part name="BUILDING" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POSTL_COD1" type="s:string" />
    <wsdl:part name="CITY" type="s:string" />
    <wsdl:part name="E_MAIL" type="s:string" />
    <wsdl:part name="LANDLINE" type="s:string" />
    <wsdl:part name="MOBILE" type="s:string" />
    <wsdl:part name="FEMALE" type="s:string" />
    <wsdl:part name="MALE" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="IDTYPE" type="s:string" />
    <wsdl:part name="IDNUMBER" type="s:string" />
    <wsdl:part name="PLANNINGPLANT" type="s:string" />
    <wsdl:part name="WORKCENTRE" type="s:string" />
    <wsdl:part name="SYSTEMCOND" type="s:string" />
    <wsdl:part name="APPLIEDCAT" type="s:string" />
    <wsdl:part name="APPLIEDLOAD" type="s:string" />
    <wsdl:part name="APPLIEDLOADKVA" type="s:string" />
    <wsdl:part name="CONNECTIONTYPE" type="s:string" />
    <wsdl:part name="STATEMENT_CA" type="s:string" />
    <wsdl:part name="START_DATE" type="s:string" />
    <wsdl:part name="START_TIME" type="s:string" />
    <wsdl:part name="FINISH_DATE" type="s:string" />
    <wsdl:part name="FINISH_TIME" type="s:string" />
    <wsdl:part name="SORTFIELD" type="s:string" />
    <wsdl:part name="ABKRS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_ZDSS_WEB_LINKHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ENFORCEMENTHttpPostIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strContract" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ENFORCEMENTHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBI_WEBBILL_HISTHttpPostIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strBillMonth" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBI_WEBBILL_HISTHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_DSS_ISU_CA_DISPLAYHttpPostIn">
    <wsdl:part name="strCANumber" type="s:string" />
    <wsdl:part name="strCRNNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_DSS_ISU_CA_DISPLAYHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ZCS_CLI_WEBHttpPostIn">
    <wsdl:part name="strTelephoneNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_ZCS_CLI_WEBHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_CSINT15HttpPostIn">
    <wsdl:part name="I_ARBPL" type="s:string" />
    <wsdl:part name="I_AUFNR" type="s:string" />
    <wsdl:part name="I_CASEID" type="s:string" />
    <wsdl:part name="I_CDATE" type="s:string" />
    <wsdl:part name="I_CRN" type="s:string" />
    <wsdl:part name="I_DATE" type="s:string" />
    <wsdl:part name="I_FLAG" type="s:string" />
    <wsdl:part name="I_ILART" type="s:string" />
    <wsdl:part name="I_IWERK" type="s:string" />
    <wsdl:part name="I_POLENO" type="s:string" />
    <wsdl:part name="I_RESP_COMP_CODE" type="s:string" />
    <wsdl:part name="I_RUNAME" type="s:string" />
    <wsdl:part name="I_STANDARD_COMP_CODE" type="s:string" />
    <wsdl:part name="I_USERID" type="s:string" />
    <wsdl:part name="I_VKONT" type="s:string" />
    <wsdl:part name="BPCATEG" type="s:string" />
    <wsdl:part name="BPKIND" type="s:string" />
    <wsdl:part name="TITLE" type="s:string" />
    <wsdl:part name="NAME_FIRST" type="s:string" />
    <wsdl:part name="NAME_LAST" type="s:string" />
    <wsdl:part name="NAMEMIDDLE" type="s:string" />
    <wsdl:part name="NAME_LST2" type="s:string" />
    <wsdl:part name="HOUSE_NUM1" type="s:string" />
    <wsdl:part name="BUILDNGNAME" type="s:string" />
    <wsdl:part name="STR_SUPPL1" type="s:string" />
    <wsdl:part name="STR_SUPPL2" type="s:string" />
    <wsdl:part name="STR_SUPPL3" type="s:string" />
    <wsdl:part name="POST_CODE1" type="s:string" />
    <wsdl:part name="CITY1" type="s:string" />
    <wsdl:part name="EMAILADR" type="s:string" />
    <wsdl:part name="MOBILENO" type="s:string" />
    <wsdl:part name="LANDLINENO" type="s:string" />
    <wsdl:part name="XSEXF" type="s:string" />
    <wsdl:part name="XSEXM" type="s:string" />
    <wsdl:part name="JOBGR" type="s:string" />
    <wsdl:part name="LGTYP" type="s:string" />
    <wsdl:part name="LGNUM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_CSINT15HttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_IVRSHttpPostIn">
    <wsdl:part name="strContractAccountNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Z_BAPI_IVRSHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DUNNING_LOCKHttpPostIn">
    <wsdl:part name="FDATE" type="s:string" />
    <wsdl:part name="FLAG" type="s:string" />
    <wsdl:part name="LOCKR" type="s:string" />
    <wsdl:part name="LOTYP" type="s:string" />
    <wsdl:part name="PROID" type="s:string" />
    <wsdl:part name="TDATE" type="s:string" />
    <wsdl:part name="VKONT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZBAPI_DUNNING_LOCKHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="ISUServiceSoap">
    <wsdl:operation name="Z_BAPI_CMS_ISU_CA_DISPLAY">
      <wsdl:input message="tns:Z_BAPI_CMS_ISU_CA_DISPLAYSoapIn" />
      <wsdl:output message="tns:Z_BAPI_CMS_ISU_CA_DISPLAYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_IVR_CREATESO_ISU">
      <wsdl:input message="tns:ZBAPI_IVR_CREATESO_ISUSoapIn" />
      <wsdl:output message="tns:ZBAPI_IVR_CREATESO_ISUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CREATESO_POST">
      <wsdl:input message="tns:ZBAPI_CREATESO_POSTSoapIn" />
      <wsdl:output message="tns:ZBAPI_CREATESO_POSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CALERT">
      <wsdl:input message="tns:ZBAPI_CALERTSoapIn" />
      <wsdl:output message="tns:ZBAPI_CALERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ONLINE_BILL_PDF">
      <wsdl:input message="tns:ZBAPI_ONLINE_BILL_PDFSoapIn" />
      <wsdl:output message="tns:ZBAPI_ONLINE_BILL_PDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DISPLAY_BILL_WEB">
      <wsdl:input message="tns:ZBAPI_DISPLAY_BILL_WEBSoapIn" />
      <wsdl:output message="tns:ZBAPI_DISPLAY_BILL_WEBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO">
      <wsdl:input message="tns:ZBAPI_DSS_SOSoapIn" />
      <wsdl:output message="tns:ZBAPI_DSS_SOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO_ECC">
      <wsdl:input message="tns:ZBAPI_DSS_SO_ECCSoapIn" />
      <wsdl:output message="tns:ZBAPI_DSS_SO_ECCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_ZDSS_WEB_LINK">
      <wsdl:input message="tns:Z_BAPI_ZDSS_WEB_LINKSoapIn" />
      <wsdl:output message="tns:Z_BAPI_ZDSS_WEB_LINKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ENFORCEMENT">
      <wsdl:input message="tns:ZBAPI_ENFORCEMENTSoapIn" />
      <wsdl:output message="tns:ZBAPI_ENFORCEMENTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBI_WEBBILL_HIST">
      <wsdl:input message="tns:ZBI_WEBBILL_HISTSoapIn" />
      <wsdl:output message="tns:ZBI_WEBBILL_HISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_BI_BAM09">
      <wsdl:input message="tns:ZBAPI_BI_BAM09SoapIn" />
      <wsdl:output message="tns:ZBAPI_BI_BAM09SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_INPUT_ENF_BILL">
      <wsdl:input message="tns:Z_BAPI_INPUT_ENF_BILLSoapIn" />
      <wsdl:output message="tns:Z_BAPI_INPUT_ENF_BILLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_INPUT_CP_DETAILS">
      <wsdl:input message="tns:Z_BAPI_INPUT_CP_DETAILSSoapIn" />
      <wsdl:output message="tns:Z_BAPI_INPUT_CP_DETAILSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_DSS_ISU_CA_DISPLAY">
      <wsdl:input message="tns:Z_BAPI_DSS_ISU_CA_DISPLAYSoapIn" />
      <wsdl:output message="tns:Z_BAPI_DSS_ISU_CA_DISPLAYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ZCS_CLI_WEB">
      <wsdl:input message="tns:ZBAPI_ZCS_CLI_WEBSoapIn" />
      <wsdl:output message="tns:ZBAPI_ZCS_CLI_WEBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_CSINT15">
      <wsdl:input message="tns:Z_CSINT15SoapIn" />
      <wsdl:output message="tns:Z_CSINT15SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_IVRS">
      <wsdl:input message="tns:Z_BAPI_IVRSSoapIn" />
      <wsdl:output message="tns:Z_BAPI_IVRSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DUNNING_LOCK">
      <wsdl:input message="tns:ZBAPI_DUNNING_LOCKSoapIn" />
      <wsdl:output message="tns:ZBAPI_DUNNING_LOCKSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISUServiceHttpGet">
    <wsdl:operation name="Z_BAPI_CMS_ISU_CA_DISPLAY">
      <wsdl:input message="tns:Z_BAPI_CMS_ISU_CA_DISPLAYHttpGetIn" />
      <wsdl:output message="tns:Z_BAPI_CMS_ISU_CA_DISPLAYHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_IVR_CREATESO_ISU">
      <wsdl:input message="tns:ZBAPI_IVR_CREATESO_ISUHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_IVR_CREATESO_ISUHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CREATESO_POST">
      <wsdl:input message="tns:ZBAPI_CREATESO_POSTHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_CREATESO_POSTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CALERT">
      <wsdl:input message="tns:ZBAPI_CALERTHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_CALERTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ONLINE_BILL_PDF">
      <wsdl:input message="tns:ZBAPI_ONLINE_BILL_PDFHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_ONLINE_BILL_PDFHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DISPLAY_BILL_WEB">
      <wsdl:input message="tns:ZBAPI_DISPLAY_BILL_WEBHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_DISPLAY_BILL_WEBHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO">
      <wsdl:input message="tns:ZBAPI_DSS_SOHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_DSS_SOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO_ECC">
      <wsdl:input message="tns:ZBAPI_DSS_SO_ECCHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_DSS_SO_ECCHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_ZDSS_WEB_LINK">
      <wsdl:input message="tns:Z_BAPI_ZDSS_WEB_LINKHttpGetIn" />
      <wsdl:output message="tns:Z_BAPI_ZDSS_WEB_LINKHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ENFORCEMENT">
      <wsdl:input message="tns:ZBAPI_ENFORCEMENTHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_ENFORCEMENTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBI_WEBBILL_HIST">
      <wsdl:input message="tns:ZBI_WEBBILL_HISTHttpGetIn" />
      <wsdl:output message="tns:ZBI_WEBBILL_HISTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_DSS_ISU_CA_DISPLAY">
      <wsdl:input message="tns:Z_BAPI_DSS_ISU_CA_DISPLAYHttpGetIn" />
      <wsdl:output message="tns:Z_BAPI_DSS_ISU_CA_DISPLAYHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ZCS_CLI_WEB">
      <wsdl:input message="tns:ZBAPI_ZCS_CLI_WEBHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_ZCS_CLI_WEBHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_CSINT15">
      <wsdl:input message="tns:Z_CSINT15HttpGetIn" />
      <wsdl:output message="tns:Z_CSINT15HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_IVRS">
      <wsdl:input message="tns:Z_BAPI_IVRSHttpGetIn" />
      <wsdl:output message="tns:Z_BAPI_IVRSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DUNNING_LOCK">
      <wsdl:input message="tns:ZBAPI_DUNNING_LOCKHttpGetIn" />
      <wsdl:output message="tns:ZBAPI_DUNNING_LOCKHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISUServiceHttpPost">
    <wsdl:operation name="Z_BAPI_CMS_ISU_CA_DISPLAY">
      <wsdl:input message="tns:Z_BAPI_CMS_ISU_CA_DISPLAYHttpPostIn" />
      <wsdl:output message="tns:Z_BAPI_CMS_ISU_CA_DISPLAYHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_IVR_CREATESO_ISU">
      <wsdl:input message="tns:ZBAPI_IVR_CREATESO_ISUHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_IVR_CREATESO_ISUHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CREATESO_POST">
      <wsdl:input message="tns:ZBAPI_CREATESO_POSTHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_CREATESO_POSTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CALERT">
      <wsdl:input message="tns:ZBAPI_CALERTHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_CALERTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ONLINE_BILL_PDF">
      <wsdl:input message="tns:ZBAPI_ONLINE_BILL_PDFHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_ONLINE_BILL_PDFHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DISPLAY_BILL_WEB">
      <wsdl:input message="tns:ZBAPI_DISPLAY_BILL_WEBHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_DISPLAY_BILL_WEBHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO">
      <wsdl:input message="tns:ZBAPI_DSS_SOHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_DSS_SOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO_ECC">
      <wsdl:input message="tns:ZBAPI_DSS_SO_ECCHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_DSS_SO_ECCHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_ZDSS_WEB_LINK">
      <wsdl:input message="tns:Z_BAPI_ZDSS_WEB_LINKHttpPostIn" />
      <wsdl:output message="tns:Z_BAPI_ZDSS_WEB_LINKHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ENFORCEMENT">
      <wsdl:input message="tns:ZBAPI_ENFORCEMENTHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_ENFORCEMENTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBI_WEBBILL_HIST">
      <wsdl:input message="tns:ZBI_WEBBILL_HISTHttpPostIn" />
      <wsdl:output message="tns:ZBI_WEBBILL_HISTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_DSS_ISU_CA_DISPLAY">
      <wsdl:input message="tns:Z_BAPI_DSS_ISU_CA_DISPLAYHttpPostIn" />
      <wsdl:output message="tns:Z_BAPI_DSS_ISU_CA_DISPLAYHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ZCS_CLI_WEB">
      <wsdl:input message="tns:ZBAPI_ZCS_CLI_WEBHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_ZCS_CLI_WEBHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_CSINT15">
      <wsdl:input message="tns:Z_CSINT15HttpPostIn" />
      <wsdl:output message="tns:Z_CSINT15HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_IVRS">
      <wsdl:input message="tns:Z_BAPI_IVRSHttpPostIn" />
      <wsdl:output message="tns:Z_BAPI_IVRSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DUNNING_LOCK">
      <wsdl:input message="tns:ZBAPI_DUNNING_LOCKHttpPostIn" />
      <wsdl:output message="tns:ZBAPI_DUNNING_LOCKHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISUServiceSoap" type="tns:ISUServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_BAPI_CMS_ISU_CA_DISPLAY">
      <soap:operation soapAction="http://tempuri.org/Z_BAPI_CMS_ISU_CA_DISPLAY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_IVR_CREATESO_ISU">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_IVR_CREATESO_ISU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CREATESO_POST">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_CREATESO_POST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CALERT">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_CALERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ONLINE_BILL_PDF">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_ONLINE_BILL_PDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DISPLAY_BILL_WEB">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_DISPLAY_BILL_WEB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_DSS_SO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO_ECC">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_DSS_SO_ECC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_ZDSS_WEB_LINK">
      <soap:operation soapAction="http://tempuri.org/Z_BAPI_ZDSS_WEB_LINK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ENFORCEMENT">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_ENFORCEMENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBI_WEBBILL_HIST">
      <soap:operation soapAction="http://tempuri.org/ZBI_WEBBILL_HIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_BI_BAM09">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_BI_BAM09" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_INPUT_ENF_BILL">
      <soap:operation soapAction="http://tempuri.org/Z_BAPI_INPUT_ENF_BILL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_INPUT_CP_DETAILS">
      <soap:operation soapAction="http://tempuri.org/Z_BAPI_INPUT_CP_DETAILS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_DSS_ISU_CA_DISPLAY">
      <soap:operation soapAction="http://tempuri.org/Z_BAPI_DSS_ISU_CA_DISPLAY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ZCS_CLI_WEB">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_ZCS_CLI_WEB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_CSINT15">
      <soap:operation soapAction="http://tempuri.org/Z_CSINT15" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_IVRS">
      <soap:operation soapAction="http://tempuri.org/Z_BAPI_IVRS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DUNNING_LOCK">
      <soap:operation soapAction="http://tempuri.org/ZBAPI_DUNNING_LOCK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISUServiceHttpGet" type="tns:ISUServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Z_BAPI_CMS_ISU_CA_DISPLAY">
      <http:operation location="/Z_BAPI_CMS_ISU_CA_DISPLAY" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_IVR_CREATESO_ISU">
      <http:operation location="/ZBAPI_IVR_CREATESO_ISU" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CREATESO_POST">
      <http:operation location="/ZBAPI_CREATESO_POST" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CALERT">
      <http:operation location="/ZBAPI_CALERT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ONLINE_BILL_PDF">
      <http:operation location="/ZBAPI_ONLINE_BILL_PDF" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DISPLAY_BILL_WEB">
      <http:operation location="/ZBAPI_DISPLAY_BILL_WEB" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO">
      <http:operation location="/ZBAPI_DSS_SO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO_ECC">
      <http:operation location="/ZBAPI_DSS_SO_ECC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_ZDSS_WEB_LINK">
      <http:operation location="/Z_BAPI_ZDSS_WEB_LINK" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ENFORCEMENT">
      <http:operation location="/ZBAPI_ENFORCEMENT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBI_WEBBILL_HIST">
      <http:operation location="/ZBI_WEBBILL_HIST" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_DSS_ISU_CA_DISPLAY">
      <http:operation location="/Z_BAPI_DSS_ISU_CA_DISPLAY" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ZCS_CLI_WEB">
      <http:operation location="/ZBAPI_ZCS_CLI_WEB" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_CSINT15">
      <http:operation location="/Z_CSINT15" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_IVRS">
      <http:operation location="/Z_BAPI_IVRS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DUNNING_LOCK">
      <http:operation location="/ZBAPI_DUNNING_LOCK" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISUServiceHttpPost" type="tns:ISUServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Z_BAPI_CMS_ISU_CA_DISPLAY">
      <http:operation location="/Z_BAPI_CMS_ISU_CA_DISPLAY" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_IVR_CREATESO_ISU">
      <http:operation location="/ZBAPI_IVR_CREATESO_ISU" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CREATESO_POST">
      <http:operation location="/ZBAPI_CREATESO_POST" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_CALERT">
      <http:operation location="/ZBAPI_CALERT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ONLINE_BILL_PDF">
      <http:operation location="/ZBAPI_ONLINE_BILL_PDF" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DISPLAY_BILL_WEB">
      <http:operation location="/ZBAPI_DISPLAY_BILL_WEB" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO">
      <http:operation location="/ZBAPI_DSS_SO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DSS_SO_ECC">
      <http:operation location="/ZBAPI_DSS_SO_ECC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_ZDSS_WEB_LINK">
      <http:operation location="/Z_BAPI_ZDSS_WEB_LINK" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ENFORCEMENT">
      <http:operation location="/ZBAPI_ENFORCEMENT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBI_WEBBILL_HIST">
      <http:operation location="/ZBI_WEBBILL_HIST" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_DSS_ISU_CA_DISPLAY">
      <http:operation location="/Z_BAPI_DSS_ISU_CA_DISPLAY" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_ZCS_CLI_WEB">
      <http:operation location="/ZBAPI_ZCS_CLI_WEB" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_CSINT15">
      <http:operation location="/Z_CSINT15" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Z_BAPI_IVRS">
      <http:operation location="/Z_BAPI_IVRS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZBAPI_DUNNING_LOCK">
      <http:operation location="/ZBAPI_DUNNING_LOCK" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISUService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="ISUServiceSoap" binding="tns:ISUServiceSoap">
      <soap:address location="http://10.8.55.23/delhiws/isuservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ISUServiceHttpGet" binding="tns:ISUServiceHttpGet">
      <http:address location="http://10.8.55.23/delhiws/isuservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ISUServiceHttpPost" binding="tns:ISUServiceHttpPost">
      <http:address location="http://10.8.55.23/delhiws/isuservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>