OMS_NEW/Web References/gis_reference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_1Get_Company">
        <s:complexType />
      </s:element>
      <s:element name="_1Get_CompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_1Get_CompanyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_2Get_Circle_list">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_2Get_Circle_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_2Get_Circle_listResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_3Get_Circle_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="circle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_3Get_Circle_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_3Get_Circle_detailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_4Get_Division_list">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="circle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_4Get_Division_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_4Get_Division_listResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_5Get_Division_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="division_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="division_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_5Get_Division_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_5Get_Division_detailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_6Get_Sub_Division_list">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="division_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="division_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_6Get_Sub_Division_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_6Get_Sub_Division_listResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_7Get_Sub_Division_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subdivision_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subdivision_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_7Get_Sub_Division_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_7Get_Sub_Division_detailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_8Get_Complaint_Centre_list">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subdivision_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subdivision_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_8Get_Complaint_Centre_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_8Get_Complaint_Centre_listResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_9Get_Complaint_Centre_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="complaint_center_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="complaint_center_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_9Get_Complaint_Centre_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_9Get_Complaint_Centre_detailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_Substation_Div_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="substation_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_Substation_Div_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Substation_Div_detailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_CA_Dt_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ca" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_CA_Dt_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CA_Dt_detailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_Dt_CA_list">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DT_Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_Dt_CA_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Dt_CA_listResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_1Get_CompanySoapIn">
    <wsdl:part name="parameters" element="tns:_1Get_Company" />
  </wsdl:message>
  <wsdl:message name="_1Get_CompanySoapOut">
    <wsdl:part name="parameters" element="tns:_1Get_CompanyResponse" />
  </wsdl:message>
  <wsdl:message name="_2Get_Circle_listSoapIn">
    <wsdl:part name="parameters" element="tns:_2Get_Circle_list" />
  </wsdl:message>
  <wsdl:message name="_2Get_Circle_listSoapOut">
    <wsdl:part name="parameters" element="tns:_2Get_Circle_listResponse" />
  </wsdl:message>
  <wsdl:message name="_3Get_Circle_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:_3Get_Circle_details" />
  </wsdl:message>
  <wsdl:message name="_3Get_Circle_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:_3Get_Circle_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="_4Get_Division_listSoapIn">
    <wsdl:part name="parameters" element="tns:_4Get_Division_list" />
  </wsdl:message>
  <wsdl:message name="_4Get_Division_listSoapOut">
    <wsdl:part name="parameters" element="tns:_4Get_Division_listResponse" />
  </wsdl:message>
  <wsdl:message name="_5Get_Division_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:_5Get_Division_details" />
  </wsdl:message>
  <wsdl:message name="_5Get_Division_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:_5Get_Division_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="_6Get_Sub_Division_listSoapIn">
    <wsdl:part name="parameters" element="tns:_6Get_Sub_Division_list" />
  </wsdl:message>
  <wsdl:message name="_6Get_Sub_Division_listSoapOut">
    <wsdl:part name="parameters" element="tns:_6Get_Sub_Division_listResponse" />
  </wsdl:message>
  <wsdl:message name="_7Get_Sub_Division_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:_7Get_Sub_Division_details" />
  </wsdl:message>
  <wsdl:message name="_7Get_Sub_Division_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:_7Get_Sub_Division_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="_8Get_Complaint_Centre_listSoapIn">
    <wsdl:part name="parameters" element="tns:_8Get_Complaint_Centre_list" />
  </wsdl:message>
  <wsdl:message name="_8Get_Complaint_Centre_listSoapOut">
    <wsdl:part name="parameters" element="tns:_8Get_Complaint_Centre_listResponse" />
  </wsdl:message>
  <wsdl:message name="_9Get_Complaint_Centre_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:_9Get_Complaint_Centre_details" />
  </wsdl:message>
  <wsdl:message name="_9Get_Complaint_Centre_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:_9Get_Complaint_Centre_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="_Substation_Div_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:_Substation_Div_details" />
  </wsdl:message>
  <wsdl:message name="_Substation_Div_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:_Substation_Div_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="_CA_Dt_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:_CA_Dt_details" />
  </wsdl:message>
  <wsdl:message name="_CA_Dt_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:_CA_Dt_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="_Dt_CA_listSoapIn">
    <wsdl:part name="parameters" element="tns:_Dt_CA_list" />
  </wsdl:message>
  <wsdl:message name="_Dt_CA_listSoapOut">
    <wsdl:part name="parameters" element="tns:_Dt_CA_listResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="_1Get_Company">
      <wsdl:input message="tns:_1Get_CompanySoapIn" />
      <wsdl:output message="tns:_1Get_CompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_2Get_Circle_list">
      <wsdl:input message="tns:_2Get_Circle_listSoapIn" />
      <wsdl:output message="tns:_2Get_Circle_listSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_3Get_Circle_details">
      <wsdl:input message="tns:_3Get_Circle_detailsSoapIn" />
      <wsdl:output message="tns:_3Get_Circle_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_4Get_Division_list">
      <wsdl:input message="tns:_4Get_Division_listSoapIn" />
      <wsdl:output message="tns:_4Get_Division_listSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_5Get_Division_details">
      <wsdl:input message="tns:_5Get_Division_detailsSoapIn" />
      <wsdl:output message="tns:_5Get_Division_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_6Get_Sub_Division_list">
      <wsdl:input message="tns:_6Get_Sub_Division_listSoapIn" />
      <wsdl:output message="tns:_6Get_Sub_Division_listSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_7Get_Sub_Division_details">
      <wsdl:input message="tns:_7Get_Sub_Division_detailsSoapIn" />
      <wsdl:output message="tns:_7Get_Sub_Division_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_8Get_Complaint_Centre_list">
      <wsdl:input message="tns:_8Get_Complaint_Centre_listSoapIn" />
      <wsdl:output message="tns:_8Get_Complaint_Centre_listSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_9Get_Complaint_Centre_details">
      <wsdl:input message="tns:_9Get_Complaint_Centre_detailsSoapIn" />
      <wsdl:output message="tns:_9Get_Complaint_Centre_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_Substation_Div_details">
      <wsdl:input message="tns:_Substation_Div_detailsSoapIn" />
      <wsdl:output message="tns:_Substation_Div_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_CA_Dt_details">
      <wsdl:input message="tns:_CA_Dt_detailsSoapIn" />
      <wsdl:output message="tns:_CA_Dt_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_Dt_CA_list">
      <wsdl:input message="tns:_Dt_CA_listSoapIn" />
      <wsdl:output message="tns:_Dt_CA_listSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_1Get_Company">
      <soap:operation soapAction="http://tempuri.org/_1Get_Company" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_2Get_Circle_list">
      <soap:operation soapAction="http://tempuri.org/_2Get_Circle_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_3Get_Circle_details">
      <soap:operation soapAction="http://tempuri.org/_3Get_Circle_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_4Get_Division_list">
      <soap:operation soapAction="http://tempuri.org/_4Get_Division_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_5Get_Division_details">
      <soap:operation soapAction="http://tempuri.org/_5Get_Division_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_6Get_Sub_Division_list">
      <soap:operation soapAction="http://tempuri.org/_6Get_Sub_Division_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_7Get_Sub_Division_details">
      <soap:operation soapAction="http://tempuri.org/_7Get_Sub_Division_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_8Get_Complaint_Centre_list">
      <soap:operation soapAction="http://tempuri.org/_8Get_Complaint_Centre_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_9Get_Complaint_Centre_details">
      <soap:operation soapAction="http://tempuri.org/_9Get_Complaint_Centre_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_Substation_Div_details">
      <soap:operation soapAction="http://tempuri.org/_Substation_Div_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_CA_Dt_details">
      <soap:operation soapAction="http://tempuri.org/_CA_Dt_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_Dt_CA_list">
      <soap:operation soapAction="http://tempuri.org/_Dt_CA_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_1Get_Company">
      <soap12:operation soapAction="http://tempuri.org/_1Get_Company" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_2Get_Circle_list">
      <soap12:operation soapAction="http://tempuri.org/_2Get_Circle_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_3Get_Circle_details">
      <soap12:operation soapAction="http://tempuri.org/_3Get_Circle_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_4Get_Division_list">
      <soap12:operation soapAction="http://tempuri.org/_4Get_Division_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_5Get_Division_details">
      <soap12:operation soapAction="http://tempuri.org/_5Get_Division_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_6Get_Sub_Division_list">
      <soap12:operation soapAction="http://tempuri.org/_6Get_Sub_Division_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_7Get_Sub_Division_details">
      <soap12:operation soapAction="http://tempuri.org/_7Get_Sub_Division_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_8Get_Complaint_Centre_list">
      <soap12:operation soapAction="http://tempuri.org/_8Get_Complaint_Centre_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_9Get_Complaint_Centre_details">
      <soap12:operation soapAction="http://tempuri.org/_9Get_Complaint_Centre_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_Substation_Div_details">
      <soap12:operation soapAction="http://tempuri.org/_Substation_Div_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_CA_Dt_details">
      <soap12:operation soapAction="http://tempuri.org/_CA_Dt_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_Dt_CA_list">
      <soap12:operation soapAction="http://tempuri.org/_Dt_CA_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.125.117.35/service/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.125.117.35/service/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>